Checkpoint/*
!Checkpoint/.gitignore
Example_results/*
!Example_results/.gitignore
Data/test/*
Data/train/*
!Data/test/.gitignore
!Data/train/.gitignore
kaggle.json
Generate_examples/input/*
Generate_examples/output/*
!Generate_examples/input/.gitignore
!Generate_examples/output/.gitignore
__pycache__/